[submodule "extern/libvncserver"]
	path = extern/libvncserver
	url = git@github.com:gujjwal00/libvncserver.git
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo
[submodule "extern/wolfssl"]
	path = extern/wolfssl
	url = git@github.com:wolfSSL/wolfssl.git
