[submodule "extern/libvncserver"]
	path = extern/libvncserver
	url = https://github.com/gujjwal00/libvncserver.git
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "extern/wolfssl"]
	path = extern/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
